# This is an example input file going through almost all keywords (check out the manual for a full list).
# If this is too much, check out some basic examples at https://github.com/HITS-MBM/conan/blob/master/docs/Example_inputs.md
# Keywords are case insensitive, but keys are case sensitive (since some of them are file names).

# COMPULSORY, unless RUN_MDMAT no or REREAD! Trajectory path/filename # Supported formats .xtc, .trr, .tng
TRAJ md_fit.xtc

# COMPULSORY, unless RUN_MDMAT no or REREAD! Coordinate path/filename # Supported format .gro, .pdb, .tpr
COORD md.tpr

# Number of levels in xpm file. Default 40 - setting it higher won't affect performance
NLEVEL 1001

# Distance at which computation of contacts shall be truncated (nm). Default 1.5. 1001 levels with a truncation of 1.0 means a resolution of 0.001 nm.
TRUNC  1.0

# Do you want to create an average contact matrix over time? Default: yes.
MEAN yes

# Begin at (ps). Default: (first frame)
# BEGIN 0

# End at (ps). Default: (last frame)
# END   0

# Compute every dt ps. Default: (all frames)
DT 1000

# Distance cutoff for TURNING ON interactions between pairs independently from what is given to MDMAT (defined by TRUNC keyword).
# This value has to be lower or equal to TRUNC. Default: Same as TRUNC.
TRUNC_INTER 0.5

# Distance cutoff for TURNING OFF interactions between pairs independently from what is given to MDMAT (defined by TRUNC keyword).
# This value has to be lower or equal to TRUNC_INTER. Default: Same as TRUNC_INTER.
# TRUNC_INTER_HIGH 0.75

# This must be a number between 0 and 1 and gives the minimum amount of interaction lifetime for
# a pair to be included in the "interaction_type" plot. Default: 0.5
TRUNC_LIFETIME 0.5 

# Distance cutoff for differential analysis between frames. This value has to be lower or equal to TRUNC. Default: TRUNC.
TRUNC_DR 1.0

# Which kind of differential analysis should be done?
# "init" = compare each frame to the initial frame,
# "prev" = compare each frame to the preceding frame.
# "both" = do both.
# Default: (no differential analysis)
DR_MODE both

# Path of the gnuplot parameter files directory (if nothing given, gnuplot will not be called)
GNUS_PATH /home/user/conan/gnuplot_inputscripts

# Choose if you want to run mdmat in the first place or not.
# If "no", ConAn will look for a file called "dmf.xpm" in the workdir.
RUN_MDMAT yes

# Start drawing the map at residue = NTERM. Note that all there cannot be gaps between residue IDs. Default: 1
# NTERM 100

# Domains file. Plots will be done also with domain assignments. Check example for format.
# DOMAINS domains.txt

# Index file (optional). If not given, default groups of gromacs will appear
# INDEX index.ndx

# Pearson correlation coefficients will be computed between the matrix and time (to identify drifts) 
PEARSON_TIME yes

# Pearson cross-correlation coefficient will be computed between the "weighted number of contacts" of residues.
PEARSON_INTER yes

# Should CONAN run in "economy mode"? The memory footprint will be negligible, but
# most advanced features (PCA, cluster analysis, correlations, ...) will be unavailable.
# Movie making is still possible though!
ECONOMY no

# Should CONAN "clean" matrices? CONAN will generate .png frames for the movie one by one, never storing more
# than one plain-text matrix. This will slow down CONAN, but it will reduce disk usage to a minimum.
CLEAN_MATRICES no

# Pearson correlation with observables. Check out the file for the format.
# PEARSON_OBS observables_for_correlation.txt

# File that contains various stages of the simulation (possibly overlapping). CONAN will compute differences between frames at the beginning and end of each stage.
# STAGES stages.txt

# PDB file to read in the sequence. CONAN will attempt to identify the chemical nature of interactions (assuming they are between sidechains)
COORD_PDB 3R6N_chainA.pdb

# Should CONAN make a movie? (default yes) Can be useful to turn off for a quick analysis!
MAKE_MOVIE yes

# Should CONAN print out matrices? (default yes)
MATRICES yes

# a file with a list of residue pairs. CONAN will show the time evolution of the distances
# and whether the interaction is turned on. It will also compute correlations with all the other distances.
# ZOOM_LIST zoom_list.txt
                         
# How many principal components should CONAN identify?
# PCA_MAKE 10

# How many clusters should CONAN create for cluster analysis of *frames*?
# Series of values also allowed, for example "1 3-5 8-10" for 1 3 4 5 8 9 10) 0 means an interactive choice based on the dendrogram.
# Do not add comments at the end of the line.
K_TRAJ_CLUSTERS 0

# How many clusters should CONAN create for cluster analysis of *residues*?
# Series of values also allowed, for example "1 3-5 8-10" for 1 3 4 5 8 9 10) 0 means an interactive choice based on the dendrogram.
# Do not add comments at the end of the line.
K_RES_CLUSTERS 0

